/**
 * @author Laurie Martineau courriel
**/

/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * - Liste du menu
 * - Liens du menu
 * - Bouton du menu
 * - Liens footer
 */

/* Variables couleurs */
$couleur-dominante: black;
$couleur-background: #eafaf1;
$couleur-lien-footer: #1fe374;
$couleur-lien-nav: #00ad6a;
$couleur-bouton: #1fe374;
$couleur-bouton-footer: linear-gradient(90deg, #00ab6a, #23ea76);
$couleur-secondaire: white;


/* Liste du menu */
.nav_liste {
    padding-left: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
    list-style: none;
    font-weight: 700;
}


.nav__lien:link,
.nav__lien:visited {
    color: $couleur-dominante;
    text-decoration: none;
}

.nav__lien:hover {
    color: $couleur-lien-nav;
    text-decoration: none;
}


.nav__link:focus {
    outline-offset: -5px;

}

.nav__lien__page-courante {
    color: $couleur-dominante;
    text-decoration: none;

}
.nav__lien-btn {
    color: $couleur-lien-nav;
    text-decoration: none;
}

.bouton-nav {
    color: $couleur-lien-nav;
    border-color: $couleur-lien-nav;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    font-weight: 700;
    padding: 4px 8px;
}


/** Une classe nav__link--active
    sert à définir un état différent
    pour l'item de menu actif
    **/


@media (min-width: 600px) {
    .nav__link--active {
        border-left: none;
    }
}
 /** Nav Footer **/
.nav-footer {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 400;
}

.ul-footer_colonne1 {
    list-style: none;
}

.ul-footer_colonne2 {
    list-style: none;
   
}

.ul-footer_colonne3 {
    list-style: none;
   
}

.lien_footer {
    color: $couleur-lien-footer;
    text-decoration: none;
}

.lien_footer:hover {
    color: $couleur-secondaire;
}

.bouton-footer {
    position: relative;
    font-weight: 700;
    border: none;
    padding: 2rem;

    background-image: $couleur-bouton-footer;
}

.nom-colonne__lien_footer {
    color: $couleur-secondaire;
    font-weight: 700;
}